<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="row justify-content-center">
    <div>
      <div class="card">
        <div class="card-body">
          <div class="p-2">
            <div class="text-center mb-2">
              <img
                src="/assets/logoprincipal.png"
                class="img-fluid"
                alt="Font Image"
                style="width: 150px"
              />
            </div>
            <form (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label
                  for="inputEmailAddress"
                  class="form-label"
                  style="color: #424242; font-weight: bold"
                  >Email</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="inputEmailAddress"
                  placeholder="usuario@gmail.com"
                  [(ngModel)]="email"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
              <div class="mb-3">
                <label
                  for="inputChoosePassword"
                  class="form-label"
                  style="color: #424242; font-weight: bold"
                  >Contraseña</label
                >
                <div class="input-group" id="show_hide_password">
                  <input
                    type="password"
                    class="form-control border-end-0"
                    id="inputChoosePassword"
                    placeholder="*********"
                    name="password"
                    [(ngModel)]="password"
                  />
                  <button
                  class="btn btn-outline-secondary input-group-text"
                  type="button"
                  id="togglePassword"
                  (click)="togglePasswordVisibility()"
                  style="background-color: #203056;cursor: pointer;"
                >
                  <i class="fas" [ngClass]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                </button>

                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="flexSwitchCheckChecked"
                      name="rememberMe"
                      [(ngModel)]="rememberMe"
                      style="background-color: #6c63ff; cursor: pointer"
                    />
                    <label
                      class="form-check-label"
                      for="flexSwitchCheckChecked"
                      style="cursor: pointer"
                    >
                      Recuérdame
                    </label>
                  </div>
                </div>
              </div>
              <div class="d-grid">
                <button
                  type="submit"
                  class="btn text-white"
                  style="background-color: #203056; cursor: pointer"
                >
                  Iniciar sesión
                </button>
              </div>
              <div class="text-center mt-3">
                <p class="mb-0">
                  ¿Aún no tienes una cuenta?
                  <a routerLink="/register" style="color: #6c63ff"
                    >Regístrate aquí</a
                  >
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
