<header class="header navbar navbar-dark">
  <div class="container">
    <img
      src="/assets/logo.png"
      class="img-fluid"
      alt="Font Image"
      style="max-width: 180px"
    />
    <div class="d-flex align-items-center">
      <i class="fas fa-bell ml-3 text-light"></i>
      <a
        href="/login"
        class="ml-3 text-light"
        style="text-decoration: none; margin-right: 10px; margin-left: 12px"
        >Iniciar sesión</a
      >
      <a
        href="/register"
        class="text-light"
        style="
          text-decoration: none;
          border: 1px solid #ccc;
          padding: 5px 10px;
          border-radius: 5px;
          margin-right: 15px;
          margin-left: 10px;
        "
        >Regístrate</a
      >
      <span class="ml-3 text-light" style="margin-right: 15px;">
        {{
          (user?.firstName || '').toUpperCase()
        }}
      </span>

      <div class="dropdown" (click)="toggleMenu()">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWQwyQCGHG-y_XKTQTdiZkvLhbEpLsidkJg97LaR57DvgWsi1U6IWAzhrjzNEh9jpIvZE"
          alt="Imagen de perfil"
          class="rounded-circle"
          style="width: 35px; height: 34px; cursor: pointer"
        />
        <div
          class="dropdown-menu"
          *ngIf="isMenuOpen"
          [ngClass]="{ 'dropdown-menu-show': isMenuOpen }"
        >
          <a class="dropdown-item" href="/login"
            ><i class="fas fa-sign-out-alt"></i> Salir</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
