  <app-header></app-header>
  <div class="container mt-5 d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-md-5  d-flex justify-content-center align-items-center">
      <img src="/assets/svg/logouser.svg" class="img-fluid" alt="Font Image" />
    </div>

    <div class="col-md-7  user-info">
      <h3 class="mt-4 mb-3">
        USUARIO {{ user?.firstName?.toLocaleUpperCase() }} {{ user?.surName?.toLocaleUpperCase() }}
      </h3>
      <div class="row">
        <div class="col-md-6">
          <i class="fas fa-user"></i> <span style="font-weight: bold;">Nombre</span>
          <p>{{ user?.firstName | titlecase }}</p>
        </div>
        <div class="col-md-6">
          <i class="fas fa-user"></i> <span style="font-weight: bold;">Apellidos:</span>
          <p>{{ user?.surName | titlecase }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <i class="fas fa-envelope"></i> <span style="font-weight: bold;">Email:</span>
          <p>{{ user?.mail }}</p>
        </div>
        <div class="col-md-6">
          <i class="fas fa-venus-mars"></i> <span style="font-weight: bold;">Género</span>
          <p>{{ user?.gender ? "Masculino" : "Femenino" }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <i class="fas fa-id-card"></i> <span style="font-weight: bold;">DNI:</span>
          <p>{{ user?.dni }}</p>
        </div>
        <div class="col-md-6">
          <i class="fas fa-calendar-alt"></i> <span style="font-weight: bold;">Cumpleaños</span>
          <p>{{ formatDate(user?.birthDate) }}</p>
        </div>

      </div>
      <button class="btn btn-secondary mt-2" (click)="goBack()">
        Volver Atrás
      </button>
    </div>

  </div>
</div>


  <app-footer></app-footer>
