.user-info {
  background-color: #f8f9fa;
  padding: 20px;
  width: auto;
  margin-left: 80px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-info h3 {
  color: #333;
  font-weight: bold;
  font-size: 24px;
  margin-top: 0;
}

.user-info p {
  margin-bottom: 5px;
}

.user-info .row {
  margin-bottom: 15px;
}

.user-info i {
  margin-right: 5px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
